.planning {
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5rem;
  
    .pageTitle {
      margin-bottom: 1rem;
  
      .title {
        position: relative;
        width: max-content;
        margin: 0 auto;
        padding-top: 3rem;
        color: var(--blackColor);
        z-index: 1;
      }
  
      .pageTitleTagLine {
        position: relative;
        width: max-content;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        padding-top: 1rem;
        font-size: medium;
        color: var(--textColor);
      }
    }
  
    .container {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: start;
  
      .sideContainer {
        max-width: 15rem;
        display: flex;
        flex-direction: column;
  
        .filters {
          display: flex;
          flex-direction: column;
  
          .search-bar {
            margin-bottom: 1rem;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 5px;
          }
  
          .filter-checkbox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
  
            label {
              color: var(--textColor);
              cursor: pointer;
              margin-right: 1rem; /* Adjust margin for label */
            }
  
            input[type="checkbox"] {
              margin-right: 1rem; /* Adjust margin for checkbox */
            }
          }
        }
  
        .selectedDest {
          margin-top: 1rem;
          margin-bottom: 1rem;
  
          .categoryTitle {
            margin-top: 3rem;
          }
  
          .selectedList {
            margin-top: 1rem;
  
            .selectedItem {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 0.5rem;
              border: 1px solid #afafaf;
              border-radius: 5px;
              padding: 0.5rem;
  
              span {
                margin-right: 1rem;
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
  
              .iconRemove {
                margin-left: 1rem;
                font-size: medium;
              }
            }
          }
  
          .btn {
            margin-top: 1rem;
  
            .btnText {
              text-align: center;
            }
          }
        }
      }
  
      .secContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
  
        .singleDestination {
          max-width: 250px;
          height: 100%;
          margin-left: 1rem;
          display: grid;
          row-gap: 10px;
          border-radius: 10px;
          align-items: center;
          background: var(--cardBG);
          box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
          overflow: hidden;
  
          &:hover {
            background: var(--cardHover);
            box-shadow: 1px 4px 4px rgba(140, 140, 141, 0.549);
            transition: 0.3s ease;
          }
  
          .imageDiv {
            height: 180px;
            width: 100%;
            overflow: hidden;
  
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
  
            &:hover {
              img {
                transform: scale(1.1);
              }
            }
          }
  
          .cardInfo {
            padding: 1rem;
  
            .destTitle {
              color: var(--blackColor);
              font-size: 1.25rem;
              max-width: 220px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
  
            .continent {
              gap: 0.5rem;
              margin-top: 0.5rem;
              margin-bottom: 1rem;
  
              .locationIcon {
                color: var(--textColor);
                font-size: 18px;
              }
  
              .name {
                color: var(--textColor);
              }
            }
  
            .btn {
              color: var(--whiteColor);
              font-weight: 600;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
            }
          }
        }
      }
    }
  }
  