:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
  }
  

.profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top of the container */
    height: auto;
    background-color: var(--bodyColor);
}

.profileContainer {
    margin-left: 40px;
    margin-top: 8rem;
    margin-bottom: 1rem;
    max-width: 800px;
    display: flex; /* Use flexbox for layout */
    background-color: var(--whiteColor);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 23px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-top: 45px;
}

.profileImage {
    flex: 1; /* Take up one-third of the space */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImage img {
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 40px;
    width: 220px; /* Adjust image width to fill its container */
    max-width: 290px; /* Limit image width */
    height: 360px; /* Maintain aspect ratio */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profileDetails {
    margin-left: 50px;
    margin-right: 10px;
    flex: 2; /* Take up two-thirds of the space */
    padding: 20px; /* Add padding for spacing */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the start */
}

.profileDetails h1 {
    margin-top: 18px;
    font-size: 25px;
    margin-bottom: 10px;
}

.profileDetails p {
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--textColor);
}

.formGroup {
    margin-top: -20px;
    // margin-bottom: 15px;
}

label {
    font-weight: bold;
    // margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 2.2rem;
    margin-bottom: .3rem;
}

button {
    // margin-top: 13px;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 1.8;
    color: var(--whiteColor);
    background-color: var(--PrimaryColor);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--SecondaryColor);
}
