.review-form-container p {
    background-color: #fff;
    padding: 10px;
    border-radius: 14px;
    border: 1px solid #ddd;
    color: #555;
    font-size: 1rem;
}

.review-form-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ccc;
    display:block;
    width: 100%;
}

.review-form-container h3 {
    margin-bottom: 10px; /* Space below the 'Reviews:' heading */
}

.reviews-container {
    margin-bottom: 20px; /* Space between the reviews and the form */
}

.review-form-container .review-item {
    background-color: #fff;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 5px; /* Space between each review */
    display: block; /* Ensures each review starts on a new line */
}

.review-form-container form {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.review-form-container label{
    font-size: 17px;
}

.review-form-container textarea {
    height: auto;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.review-form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.review-form-container button:hover {
    background-color: #0056b3;
}
