
.bookingPage {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-top: 100px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 10px;
    }

    input {
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      display: block;
      width: 100%;
    }

    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }

    h3 {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .policyCheck {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      input[type="checkbox"] {
        margin-right: 10px;
      }
    }

    .policyDetails {
      display: block;

      p {
        margin-top: 20px;
        font-size: 14px;
      }
    }

    .policyDetails.hidden {
      display: none;
    }

    span {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

