.report {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: var(--whiteColor);
    padding: 3rem;
}

.reportContainer {
    margin-top: 70px;
    width: 650px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--whiteColor);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.reportContent {
    display: flex;
    align-items: center;
}

.reportText {
    flex: 1;
    padding-left: 1px;
}

.reportText h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--blackColor);
}

.reportText p {
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--textColor);
}

.reportForm {
    margin-top: 45px;
    margin-bottom: 20px;
}

.formGroup {
    margin-bottom: 25px;
}

label {
    font-weight: bold;
    color: var(--textColor);
}

textarea, input {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--greyText);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 15px;
    color: var(--whiteColor);
    background-color: var(--PrimaryColor);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--SecondaryColor);
}

.reportImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reportImage img {
    margin-left: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
