/* src/Pages/Schedule/Schedule.scss */
.schedule {
  padding: 20px;
}

.pageTitle {
  text-align: center;
  margin-bottom: 20px;
}

.timeline {
  position: relative;
  max-width: 10200px;
  margin: 100px auto;
}

.dest-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0%{
    opacity:1;
    transform: translateY(-30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.dest-box {
  padding: 20px 30px;
  background: #cbe8f7;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.dest-container .circle {
  position: absolute;
  width: 40px;
  font-size: 100px;
  right: -22px;
  top: -5px;
  z-index: 10;
  color: #a3cce1;
 
}

.right-container .circle {
  left: -18px;
}

.timeline::after{
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background:#a3cce1;
  top: 0;
  left: 50%;
  z-index: -1;
}

.dest-box h3{
  font-weight: 600;
}

.dest-box small{
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 20px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 16px solid #cbe8f7;
  right: -15px;
}

.right-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 20px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 16px solid #cbe8f7;
  left: -15px;
}

@media screen and (max-width: 700px) {
   .timeline{
    margin: 50px auto;
   }
   .timeline::after{
    left: 31px;
   }
   .container{
    width: 100%;
    padding-left: 80px;
    padding-right: 25px; 
   }

   .dest-box{
    font-size: 13px;
   }

   .dest-box small{
    margin-bottom: 10px;
   }

   .right-container{
    left: 0;
   }

   .left-container .circle, .right-container .circle{
    left: 14px;
   }

   .left-container-arrow, .right-container-arrow{
    border-right: 16px solid #cbe8f7;
    border-left: 15px;
    left: -15px;
   }
}