@charset "UTF-8";
:root {
  --PrimaryColor:hsl(199,100%,33%);
  --SecondaryColor:hsl(187,85%,43%);
  --gradientColor:linear-gradient(to right,hsl(187,85%,43%),hsl(199,100%,33%));
  --whiteColor:hsl(0,0%,100%);
  --blackColor:hsl(201,33%,16%);
  --textColor:hsl(240,4%,36%);
  --whiteColorDeam:hsl(0,0%,93%);
  --greyText:rgb(190,190,190);
  --inputColor:rgb(239,239,239);
  --bodyColor:rgb(240,240,246);
  --cardBG:rgb(225,225,235);
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--whiteColorDeam);
  width: 100%;
  padding: 1rem;
  z-index: 1000;
}
.header .logo {
  color: var(--Color);
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.header .logo .icon {
  font-size: 25px;
  color: var(--PrimaryColor);
  transform: translateY(5px);
}
.header .personIcon {
  font-size: 40px;
  color: var(--PrimaryColor);
  transform: translateY(4px);
}
.header .personIcon:hover {
  color: var(--SecondaryColor);
}
.header .logo img {
  width: 30px; /* Set the width of the logo image */
  height: 30px; /* Set the height of the logo image */
  border-radius: 50%; /* Apply border-radius to make the image circular */
  -o-object-fit: cover;
     object-fit: cover; /* Ensure the image covers the entire circular area */
  margin-bottom: 9px;
}
.header h1 {
  padding-left: 0.4rem;
}
@media screen and (max-width: 768px) {
  .header .navBar {
    position: absolute;
    background: var(--whiteColorDeam);
    height: max-Menu;
    width: 80%;
    border-radius: 1rem;
    top: -500rem;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    z-index: 2000;
    transition: 0.5 ease-in-out;
  }
  .header .navBar .navLists {
    flex-direction: column;
    justify-Menu: center;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem {
    padding: 0.5rem 10rem;
    position: relative;
  }
  .header .navBar .navLists .navItem .navLink {
    color: var(--textColor);
    padding: 0 0.45rem;
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  .header .navBar .navLists .navItem .navLink:hover {
    color: var(--SecondaryColor);
  }
  .header .navBar .navLists .navItem .navLink:hover::after {
    Menu: "";
    width: 20%;
    height: 2px;
    background: var(--SecondaryColor);
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    transition: width 0.15s ease;
  }
  .header .navBar .navLists .btn a {
    color: rgb(255, 255, 255);
    transition: color 0.15s ease-in-out;
  }
  .header .navBar .navLists .btn:hover a {
    color: rgb(253, 249, 56);
  }
  .header .navBar .navLists .personIcon {
    margin-left: 0.1rem;
    font-size: 55px;
    color: var(--PrimaryColor);
    cursor: pointer;
    transform: translateY(5px);
    padding: 0.3rem;
    margin-top: 0.2rem;
    margin-left: 0.11rem;
  }
  .header .navBar .navLists .personIcon:hover {
    color: var(--SecondaryColor);
  }
  .header .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--PrimaryColor);
  }
  .header .navBar .closeNavbar:hover {
    color: var(--SecondaryColor);
  }
  .header .activeNavbar {
    top: 7rem;
  }
}
.header .toggleNavbar .icon {
  font-size: 25px;
  color: var(--PrimaryColor);
}
.header .toggleNavbar:hover.icon {
  color: var(--SecondaryColor);
}

.dropdownMenu {
  position: absolute;
  top: 42px;
  right: 0px;
  width: 180px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border: 1px solid gray;
}

.dropdownMenu .btn {
  margin-top: 80rem;
}

.dropdownMenu .btn a {
  color: rgb(255, 255, 255);
  transition: color 0.15s ease-in-out;
}

.dropdownMenu .btn:hover a {
  color: rgb(253, 249, 56);
}

.dropdownMenu li {
  margin-bottom: 15px; /* Add bottom margin between each dropdown item */
}

.dropdownMenu a {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--textColor);
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  left: 10px;
  top: 7px;
}

.dropdownMenu a:hover,
.dropdownMenu button:hover {
  color: var(--SecondaryColor);
  background-color:   #f5f5f5;
  font-size: 0.93rem;
}

.dropdownItem {
  position: relative; /* Position relative for absolute positioning of ::after */
  padding-right: 20px; /* Add space to the right for the arrow */
  color: var(--textColor); /* Text color */
  font-size: 14px; /* Font size */
  line-height: 1.4; /* Adjust line height for vertical centering */
  transition: color 0.5s ease;
}

.dropdownItem::after {
  content: ">"; /* Use right-pointing arrow as content */
  position: absolute; /* Position the arrow absolutely */
  top: 50%; /* Vertically center the arrow */
  left: 130px; /* Align the arrow to the right edge */
  transform: translateY(-50%); /* Center the arrow vertically */
  color: var(--textColor); /* Color of the arrow */
  font-size: 18px;
}

.dropdownItem:hover::after {
  color: var(--SecondaryColor); /* Change arrow color on hover */
  font-size: 20px;
}

@media screen and (min-width: 750px) {
  .toggleNavbar, .closeNavbar {
    display: none;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  .header .navBar .navLists {
    display: flex;
    align-items: center;
    justify-menu: center;
    flex-direction: row;
  }
  .header .navBar .navLists .navItem {
    position: relative;
  }
  .header .navBar .navLists .navItem .navLink {
    color: var(--textColor);
    padding: 0 0.45rem;
    font-size: 0.9rem;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease; /* Add transition for color change */
  }
  .header .navBar .navLists .navItem .navLink:hover {
    color: var(--SecondaryColor);
  }
  .header .navBar .navLists .navItem .navLink:hover::after {
    Menu: "";
    width: 70%;
    height: 2px;
    background: var(--SecondaryColor);
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    transition: width 0.15s ease;
  }
  .header .navBar .btn {
    margin-left: 1rem;
  }
  .header .navBar .btn a {
    color: rgb(255, 255, 255);
    transition: color 0.15s ease-in-out;
  }
  .header .navBar .btn:hover a {
    color: rgb(253, 249, 56);
  }
  .header .navBar .personIcon {
    margin-left: 1rem;
  }
  .header .navBar .personIcon .dropdownMenu {
    top: 62px;
    right: 10px;
  }
}
@media screen and (min-width: 960px) {
  .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
  .dropdownMenu {
    top: 62px;
    right: 5px;
  }
  .dropdownMenu::before {
    content: "";
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: var(--whiteColor);
    border-left: 1px solid gray;
    border-top: 1px solid gray;
  }
}
@media screen and (min-width: 1240px) {
  .header {
    padding: 1rem 8.5rem;
  }
  .dropdownMenu {
    top: 62px;
    right: 5px;
  }
  .dropdownMenu::before {
    content: "";
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: var(--whiteColor);
    border-left: 1px solid gray;
    border-top: 1px solid gray;
  }
}
.custom-swal-button {
  background-color: #1E90FF !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  font-size: 40px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  width: 90px !important;
}/*# sourceMappingURL=navbar.css.map */