:root{
    --PrimaryColor:hsl(199,100%,33%);
    --SecondaryColor:hsl(187,85%,43%);
    --gradientColor:linear-gradient(to right,hsl(187,85%,43%),hsl(199,100%,33%));
    --whiteColor:hsl(0,0%,100%);
    --blackColor:hsl(201,33%,16%);
    --textColor:hsl(240,4%,36%);
    --whiteColorDeam:hsl(0,0%,93%);
    --greyText:rgb(190,190,190);
    --inputColor:rgb(239,239,239);
    --bodyColor:rgb(240,240,246);
    --cardBG:rgb(225,225,235);
}

.header{ 
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background: transparent;
    background: var(--whiteColorDeam);
    width: 100%;
    padding: 1rem;
    z-index: 1000;

    .logo{
        color: var(--Color);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        .icon{
            font-size: 25px;
            color: var(--PrimaryColor);
            transform: translateY(5px);
        }
    }

    .personIcon{
        font-size: 40px;
        color: var(--PrimaryColor);
        transform: translateY(4px);
        &:hover {
            color: var(--SecondaryColor); 
        }
    }

    .logo img {
        width: 30px; /* Set the width of the logo image */
        height: 30px; /* Set the height of the logo image */
        border-radius: 50%; /* Apply border-radius to make the image circular */
        object-fit: cover; /* Ensure the image covers the entire circular area */
        margin-bottom: 9px;
    }

    h1{
        padding-left: .4rem;
    }

    

    @media screen and (max-width: 768px){
        .navBar{
            position: absolute;
            background: var(--whiteColorDeam);
            height: max-Menu;
            width: 80%;
            border-radius: 1rem;
            top: -500rem;
            left: 50%;
            padding: 1rem;
            transform: translate(-50%);
            z-index: 2000;
            //box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
            transition: .5 ease-in-out;

            .navLists{
                flex-direction: column;
                justify-Menu: center;
                width: 100%;
                margin: auto;
                padding: .5rem 0;

                .navItem{
                    padding: .5rem 10rem;
                    position: relative;

                    .navLink{
                        color: var(--textColor);
                        padding: 0 0.45rem;
                        font-size: 0.9rem;
                        font-weight: 500;
                        transition: color 0.3s ease;

                        &:hover{
                            color: var(--SecondaryColor);
                            
                            &::after {
                                Menu: "";
                                width: 20%;
                                height: 2px;
                                background: var(--SecondaryColor);
                                position: absolute;
                                bottom: 0;
                                transform: translateX(-50%);
                                left: 50%;
                                transition: width 0.15s ease;
                            }

                        }
                    }
                }

                .btn{
                    margin-top: .8rem;
                    a{
                        color: rgb(255, 255, 255);
                        transition: color 0.15s ease-in-out;
                    }
                    &:hover {
                        a{
                            color: rgb(253, 249, 56); 
                            
                        }
                    }
                }

                .personIcon{
                    margin-left: .1rem;
                    font-size: 55px;
                    color: var(--PrimaryColor);
                    cursor: pointer;
                    transform: translateY(5px);
                    padding: .3rem;
                    margin-top: .2rem;
                    margin-left: .11rem;
                    &:hover {
                        color: var(--SecondaryColor); 
                    }                
                }
            }

            .closeNavbar{
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                color: var(--PrimaryColor);
                &:hover{
                    color: var(--SecondaryColor);
                }
            }
        }

        .activeNavbar{
            top: 7rem;
        }
    }

    .toggleNavbar{
        .icon{
            font-size: 25px;
            color: var(--PrimaryColor);
        }
        &:hover.icon{
            color: var(--SecondaryColor);
        }
    }
}

.dropdownMenu{
    position: absolute;
    top: 42px;
    right: 0px;
    width: 180px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border: 1px solid gray;
}

.dropdownMenu .btn{
    margin-top: 80rem;
}

.dropdownMenu .btn a {
    color: rgb(255, 255, 255);
    transition: color 0.15s ease-in-out;
}

.dropdownMenu .btn:hover a {
    color: rgb(253, 249, 56);
}

.dropdownMenu li {
    margin-bottom: 15px; /* Add bottom margin between each dropdown item */
}

.dropdownMenu a{
    padding: 10px 20px;
    text-decoration: none;
    color: var(--textColor);
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    left: 10px;
    top: 7px;
}

.dropdownMenu a:hover,
.dropdownMenu button:hover {
    color: var(--SecondaryColor);
    background-color: #f5f5f5;
    font-size: 0.93rem;
}

.dropdownItem {
    position: relative; /* Position relative for absolute positioning of ::after */
    padding-right: 20px; /* Add space to the right for the arrow */
    color: var(--textColor); /* Text color */
    font-size: 14px; /* Font size */
    line-height: 1.4; /* Adjust line height for vertical centering */
    transition: color 0.5s ease; 
}

.dropdownItem::after {
    content: '>'; /* Use right-pointing arrow as content */
    position: absolute; /* Position the arrow absolutely */
    top: 50%; /* Vertically center the arrow */
    left: 130px; /* Align the arrow to the right edge */
    transform: translateY(-50%); /* Center the arrow vertically */
    color: var(--textColor); /* Color of the arrow */
    font-size: 18px;
}

.dropdownItem:hover::after {
    color: var(--SecondaryColor); /* Change arrow color on hover */
    font-size: 20px;
}






@media screen and (min-width: 750px) {
    .toggleNavbar,.closeNavbar{
        display: none;
    }

    .header{
        padding: 1.5rem 2rem;

        .navBar {
            .navLists {
                display: flex;
                align-items: center;
                justify-Menu: center;
                flex-direction: row;

                .navItem {
                    position: relative;
        
                    .navLink {
                        color: var(--textColor);
                        padding: 0 0.45rem;
                        font-size: 0.9rem;
                        font-weight: 500;
                        position: relative;
                        transition: color 0.3s ease; /* Add transition for color change */
        
                        &:hover {
                            color: var(--SecondaryColor);
        
                            &::after {
                                Menu: "";
                                width: 70%;
                                height: 2px;
                                background: var(--SecondaryColor);
                                position: absolute;
                                bottom: 0;
                                transform: translateX(-50%);
                                left: 50%;
                                transition: width 0.15s ease;
                            }
                        }
                    }
                }
            }

            .btn{
                margin-left: 1rem;
                a{
                    color: rgb(255, 255, 255);
                    transition: color 0.15s ease-in-out;
                }
                &:hover {
                    a{
                        color: rgb(253, 249, 56); 
                        
                    }
                }
            }

            .personIcon{
                margin-left: 1rem;

                .dropdownMenu{
                    top: 62px;
                    right: 10px;
                }
            }

            
        }
    }   
}

@media screen and (min-width: 960px) {
    .header{
        .navBar{
            .navLists{
                .navItem{
                    padding: 0 0.7rem;
                }
            }
        }
    }

    .dropdownMenu{
        top: 62px;
        right: 5px;
    }

    .dropdownMenu::before{
        content: '';
        position: absolute;
        top: -0.7rem;
        right: 1.1rem;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        background: var(--whiteColor);
        border-left: 1px solid gray;
        border-top: 1px solid gray;
    }

}

@media screen and (min-width: 1240px) {
    .header{
        padding: 1rem 8.5rem;
    }

    .dropdownMenu{
        top: 62px;
        right: 5px;
    }

    .dropdownMenu::before{
        content: '';
        position: absolute;
        top: -0.7rem;
        right: 1.1rem;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        background: var(--whiteColor);
        border-left: 1px solid gray;
        border-top: 1px solid gray;
    }
}