:root{
    --PrimaryColor:hsl(199,100%,33%);
    --SecondaryColor:hsl(187,85%,43%);
    --gradientColor:linear-gradient(to right,hsl(187,85%,43%),hsl(199,100%,33%));
    --whiteColor:hsl(0,0%,100%);
    --blackColor:hsl(201,33%,16%);
    --textColor:hsl(240,4%,36%);
    --whiteColorDeam:hsl(0,0%,93%);
    --greyText:rgb(190,190,190);
    --inputColor:rgb(239,239,239);
    --bodyColor:rgb(240,240,246);
    --cardBG:rgb(225,225,235);
}

.pastPayments{
    width: 100%;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5rem;

    h1 {
        padding-top: 8rem;
        position: relative; 
    }

}

.pastPayments {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: 'Arial', sans-serif;

    h1 {
        position: relative;
        font-size: 2.5rem;
        padding: 10px;
    }

    .pageTitle{
        margin-bottom: 1rem;

        .title{
            position: center;
            width: max-content;
            margin: 0 auto;
            padding-top: 3rem;
            color: var(--blackColor);
            z-index: 1;
        }
    }

  .container {
    display: grid;
    grid-template-columns: auto 1fr; /* Search bar width is auto, card list takes remaining space */
    align-items: start;

    .filter-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      label {
        margin-right: 10px;
      }

      input {
        padding: 5px;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;

        &:focus {
          border-color: #007BFF;
        }
      }

      #filter-btn{
        padding: 5px 10px;
        margin-left: px;
        width: 60px;
        border: none;
        border-radius: 5px;
        background: var(--gradientColor);
        color: #fff;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
    }
    }

    #all-btn{
        padding: 5px 10px;
        margin-top: 0px;
        margin-bottom: 5px;
        margin-inline-start: 700px;
        width: 100px;
        border: none;
        border-radius: 5px;
        background: var(--gradientColor);
        color: #fff;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
    }

    #past-purchases-table {
      width: 100%;
      border-collapse: collapse;

      th, td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
      }

      th {
        background: var(--gradientColor);
        color: white;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #ddd;
      }

      img {
        border-radius: 5px;
      }
    }
  }
}
